:root {
  --font-primary: "Inter", sans-serif;
  --color-primary: #27ae60;
  --color-secondary: #eb5757;
  --color-white: #ffffff;
  --color-grey-0: #f5f5f5;
  --color-grey-4: #bdbdbd;
  --color-grey-100: #e0e0e0;
  --color-grey-300: #828282;
  --color-grey-600: #333333;
}
