.cartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 22.875rem;

  button {
    color: var(--color-grey-4);
  }

  @media (min-width: 870px) {
    width: 27.5rem;
  }
}

.cartImg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 5.1413rem;
  height: 5rem;

  border-radius: 5px;
  background-color: var(--color-grey-100);

  img {
    width: 55px;
  }
}

.cartInfo {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}

.buttonDelete {
  &:hover {
    color: var(--color-secondary);
  }
}
